/* Hero section */
#hero {
  min-height: 35vh;
  background: linear-gradient(135deg, #6b006b64 0%, #6b006bb1 110%);
  justify-content: flex-start;
}

#hero h2 {
  color: #ffd700;
}

#hero p {
  color: #faf9f6;
}

#hero .para-two {
  margin-top: 1em;
}

#hero .para-three {
  margin-top: 1em;
}
